<html>
    <head>
        <titel>Photo app</titel>

    </head>
    <body>
        <h1><a href="">사진 목록 페이지</a></h1>
        <section>
            <div>
                <h2>
                    <a href="">푸른언덕</a>
                </h2>
                <img
                    src="https://ssl.pstatic.net/imgfinance/chart/mobile/marketindex/month3/FX_USDKRW_naverpc_l.png"
                    alt="푸른언덕"
                    width="300"
                />
                <p>마이크로솦트, 1000원/p>
            </div>
            <div>

            <div>
                <h2>
                    <a href="">푸른언덕</a>
                </h2>
                <img
                    src="https://naverpa-phinf.pstatic.net/MjAyNDEwMTZfNzEg/MDAxNzI5MDU0NTIwNjcy.AGT5QuY4A3bCf7zceaEWOKST-xfUWEmc0Fu7pUxGFJ0g.dP7H8VSD7D2_JSv2Q0jDocv_Zfj-mfmGfJbERPVZLrkg.JPEG/KakaoTalk_20241016_135417029_01_172905452066211021249662376412940.jpg"
                    alt="푸른언덕"
                    width="300"
                />
                <p>마이크로솦트, 3000원/p>
            </div>
        </section>
    </body>
</html>