<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'login_style.css' %}">
    </head>
    <body>
        <div class="layout">
            <h1 id="loginpage_title">
                To Do List
            </h1>
            <form action="{% url 'login_signin' %}" method="get">
                <button class= "button" id="sign_in">로그인 하기 </button>
            </form>
            <form action="{% url 'login_signup' %}" method="get">
                <button class= "button" id="sign_up">
                회원가입 하기
            </button>
        </div>

    </body>
</html>