<!DOCTYPE html>

{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title To Do List></title>
    <!-- defer를 쓰면 JS가 HTML 로딩 후 실행되어 에러를 방지할 수 있어요 -->
    <script src="{% static 'js/todo.js'%}" defer></script>
    <link rel="stylesheet" href="{%static 'todo_style.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script> -->
</head>
<body>
    <div class = "header">
        <h1> To Do List</h1>
        <div class="user-section">
            <!-- <img src="{%static 'image/account-circle.png'%}" class="user_icon" alt="User Icon"> -->
            <span class="user_name">{{user.username}}님</span> /
            <a href="{% url 'logout' %}" class="logout-link">로그아웃</a>
        </div>
    </div>
    <div class="todo-columns">
        <!-- 할 일 목록 카드 -->
        <div class="todo-card">
            <div class="todo-header">
                <div class="todo-modal-container">
                    <strong>to do</strong>
                    <button class="todo-modal-button" onclick="openModal()">+</button>
                </div>
                <!-- 모달 오버레이 -->
                <div id="addTodoModal" class="modal-overlay">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">x</span>
                        <form method="post" >
                            {% csrf_token %}
                            <span class="todo-icon">•</span>
                            <span class="todo-label"><strong>  TO DO 입력</strong></label>
                            {{form.title}}<br><br>
                            <span class="todo-icon">•</span>
                            <label class="todo-label"><strong>  TO DO 기한 설정</strong></label>
                            {{form.due_date}}<br>
                            <div class="modal-button-container">
                                <button class="todo-cancel-button" type="button" onclick="closeModal()">취소</button>
                                <button class="todo-save-button" type="submit">저장 후 닫기기</button>
                            </div>
                        </form>
                            
                    </div>
                </div>
                <hr class="underline">
                <!-- 할 일 목록 -->
                    <div id="todo-items">
                    {% for todo in todos %}
                    <div class="todo-item">
                        <div class ="todo-content">
                            <p class="todo-title">{{todo.title}}</p>
                            <small class="todo-date">{{todo.due_date | date:"Y-M-d까지"}}</small>
                        </div>
                        <label class="checkbox-container">
                            <input type="checkbox" id="todo-check">
                            <span class="checkmark" for="todo-check"></span>
                        </label>
                    </div>
                    {% endfor %}
                    </div>
            </div>
        </div>
          <!-- End To Do -->
        <div class="todo-card">
            <div class="todo-header">
            <div class="todo-modal-container">
                <strong>end to do</strong>
            </div>
            <hr class="underline">
            <div id="done-items">
                {% for todo in done_todos %}
                <div class="todo-item">
                <div class="todo-content">
                    <p class="todo-title">{{todo.title}}</p>
                </div>
                <label class="checkbox-container">
                    <input type="checkbox" checked disabled>
                    <span class="checkmark"></span>
                </label>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>

        <!-- Not End To Do -->
        <div class="todo-card">
            <div class="todo-header">
            <div class="todo-modal-container">
                <strong>not end to do</strong>
            </div>
            <hr class="underline">
            <div id="undone-items">
                {% for todo in undone_todos %}
                <div class="todo-item">
                <div class="todo-content">
                    <p class="todo-title" style="color: #BCCCDC;">{{todo.title}}</p>
                </div>
                <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>


</body>
</html>